
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
:root{
    font-size: 62.5%;
}
body{
    background-color: #46bdc5;
    /* height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow; */
}
.container{
    margin: 0 auto;
    /* height: 100%; */
    display: grid;
    /* height: auto; */
    padding: 2rem;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
    grid-template-rows: 1fr 1fr ;
    /* display: flex; */
    
    width: 100%;
    /* flex-wrap: wrap; */
    /* border: 1px solid black; */
    /* justify-content: center; */
   /* align-items: center; */
    /* background-color: rgb(183, 166, 166); */
   
}
.price h2{
    font-size: 3.2rem;
}

.card{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7.9rem 15.9rem 37rem 20rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    /* gap: 3rem; */
    align-content: center;
    /* position: relative; */
    /* display: flex; */
    /* justify-content: center; */
    /* gap: 2.9rem; */
    /* height: 73.5rem; */
    /* width: 50%; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* padding-bottom: 1rem; */
    /* padding: 1rem; */
    
    /* padding: 0 1.5rem 1.5rem 1.5rem; */
    border-radius: .9rem;
   
    background-color: #EBFDFF;
}

.container__documentos{
    padding-block: 1rem;
    width: 100%;
    /* background-color: black; */
}
.card__title{
   
    /* display: grid;
    justify-content: center;
    align-items: center;
    text-align: center; */
    /* height: 7rem; */
    /* padding: 1.9rem 3rem 1rem 3rem; */
    height: 100%;
    border-radius: .9rem  .9rem 0 0;
    background-color: #C0D8FF;
    width: 100%;
}
.card__title h1{
    font-size: 2.7rem;
}
h2 > strong{
    font-size: 7.9rem;
}
.infor p{
    font-size: 1.9rem;
}
.container__assinar,.card__price, .card__title,.items, .btn-assinar{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.card__price{
    /* margin-top: 2.5rem; */
}

.items{
    /* width: 40rem; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: aquamarine; */
    height: 25.9rem;
    padding: .9rem;

}
.items ul{
    width: 100%;
    justify-content: center;
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(auto-fit,12rem);
    /* grid-template-columns:repeat(3rem, minmax(9rem,1fr)); */
}


.container__assinar{
    width: 80%;
    margin-bottom: .9rem;
    padding: 1rem;
    /* border: 1px solid yellow; */
    gap: .5rem;
    
}

.btn-assinar{
    width: 100%;
   
}
.btn-assinar button{
    width: 80%;
    padding: 1.7rem;
    font-size: 2rem;
    border-radius: .2rem;
    color: white;
    background-color: #9DBB30;
    border: none;
    outline: none;
}
.btn-assinar button:hover{
    background-color: #6db51b;
}
ul{
    list-style: none;
}
ul li{
    text-align: center;
    padding: .9rem;
    background-color: #EBFDFF;
    font-size: 1rem;
    position: relative;
    
}

li i{
    color: #27C92D;
    position:absolute;
    left: .3rem;
}
.comparative p{
    color:blue;
    font-size: 1.6rem;
    text-decoration: underline;
}


@media screen and (max-width:450px) {
    body{
        background-color: rgb(77, 54, 54);
        
    }
    .infor p{
        font-size: 1.2rem;
    }
}